<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
    <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="{{ site.title }} Logo" class="logo">
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Inici</a></li>
        <li><a href="{{ '/veus-del-territori.html' | relative_url }}" {% if page.url == '/veus-del-territori.html' %}class="active"{% endif %}>Veus del territori</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {{ content }}
  </div>
  <footer>
    <div class="footer-content">
      <div class="footer-row">
        <p class="footer-left">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
        <p class="footer-right">Contacte: <a href="https://www.instagram.com/garrotxa.viva/" target="_blank" rel="noopener">@garrotxa.viva</a> | <a href="mailto:garrotxaviva@gmail.com">garrotxaviva@gmail.com</a></p>
      </div>
      <p class="footer-credits">Fotos: <a href="https://www.instagram.com/daveandworld/" target="_blank" rel="noopener">@daveandworld</a></p>
    </div>
  </footer>
</body>
</html>
